.home{
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

h1{
    color: rgb(1, 154, 96);
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(181, 246, 255);
}

img{
    max-width: 100%;
    height: auto;
}